# general
*~
*.log
tmp
dump

# Eclipse
.settings
.cache
.classpath
.scala_dependencies
bin
.cache-main
.cache-tests

# SBT
dist
project/boot
project/target
project/plugins/target
target
.target

# Play
logs
RUNNING_PID
db

#OSX
.DS_Store
