.navbar-brand {
	font-size: 30px;
	line-height: 32px;
}

.page-loader {
	display: block;
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	background: #fefefe;
	z-index: 100000;
}

.loader {
	width: 155px;
	height: 115px;
	position: absolute;
	background-image: url(/assets/images/loader.gif);
	top: 50%;
	left: 50%;
	margin-top: -77px;
	margin-left: -57px;
	z-index: 100001;
}

#message-alert {
	width:800px;
	height: 40px;
	line-height: 40px;
	opacity: 0.7;
	position: fixed;
	float: left;
	top: 50%;
  	left: 50%;
 	margin-top: -20px;
 	margin-left: -400px;
}

.round-corner {
	border-radius: 5px;
}

.line-with-icon {
	line-height: 50px;
}

.font-small {
	font-size: 10px;
}

.font-medium {
	font-size: 15px;
}

.font-big {
	font-size: 20px;
}

.font-very-big {
	font-size: 30px;
}

.font-huge {
	font-size: 60px;
}

.text-black {
	color: black !important;
}

.text-white {
	color: white !important;
}

.text-red {
	color: red !important;
}

.text-green {
	color: green !important;
}

.text-grey {
	color: silver !important;
}

.bg-red {
	background-color: red !important;
}

.bg-blue {
	background-color: blue !important;
}

.bg-green {
	background-color: blue !important;
}

.btn {
	margin: 10px;
}

.bordered {
	border: solid 1px grey; 
	border-radius: 5px; 
	padding: 20px;
}

.key {
	border: solid 1px black;
	border-radius: 4px;
	padding: 4px;
	margin: 4px 4px 0px 4px;
	width: 30px !important;
	display: inline-block;
	background-color: black;
	color: white;
}

.gold-owned {
	padding: 5px;
	margin: 5px;
	color: gold;
}

.keys-owned {
	padding: 5px;
	margin: 5px;
	color: silver;
}

.btn.fedora-font {
	padding-top: 15px !important;
}

.btn.ghostbuster-font {
	padding-top: 15px !important;
}

.fedora-font {
	font-family: Fedora;
}

.ghostbuster-font {
	font-family: Ghostbuster;
}

@font-face {
  font-family: 'Fedora';
  src: url('fedora.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Ghostbuster';
  src: url('ghostbuster.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}