.navbar-brand {
	font-size: 50px;
	line-height: 60px;
}

.line-with-icon {
	line-height: 50px;
}

.font-small {
	font-size: 10px;
}

.font-medium {
	font-size: 15px;
}

.font-big {
	font-size: 20px;
}

.font-huge {
	font-size: 60px;
}

.text-black {
	color: black !important;
}

.text-red {
	color: red !important;
}

.btn {
	margin: 10px;
}

.bordered {
	border: solid 1px grey; 
	border-radius: 5px; 
	padding: 20px;
}

.key {
	border: solid 1px black;
	border-radius: 4px;
	padding: 4px;
	margin: 4px 4px 0px 4px;
	width: 30px !important;
	display: inline-block;
	background-color: black;
	color: white;
	font-weight: 600;
}

.btn.fedora-font {
	padding-top: 15px !important;
}

.btn.ghostbuster-font {
	padding-top: 15px !important;
}

.fedora-font {
	font-family: Fedora;
}

.ghostbuster-font {
	font-family: Ghostbuster;
}

@font-face {
  font-family: 'Fedora';
  src: url('fedora.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Ghostbuster';
  src: url('ghostbuster.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}