.navbar-brand {
	font-size: 50px;
	line-height: 60px;
}

.font-big {
	font-size: 20px;
}

.btn {
	margin: 10px;
}

.bordered {
	border: solid 1px grey; 
	border-radius: 5px; 
	padding: 20px;
}

.btn.fedora-font {
	padding-top: 15px !important;
}

.fedora-font {
	font-family: Fedora;
}

@font-face {
  font-family: 'Fedora';
  src: url('fedora.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}