@()(implicit req: RequestHeader)

@main {

	<div class="page-loader">
        <div class="loader">
		</div>
    </div>
	
    <div class="container">
        <nav class="navbar navbar-default" role="navigation">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <span class="navbar-brand ghostbuster-font text-black"><img src="/assets/images/favicon.png" alt="" width="32">Gh<span class="text-red">O</span>sts in the City</span>
            </div>
            <div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul class="nav navbar-nav navbar-right">
                	<li data-bind="ifnot: disconnected"><a class="ghostbuster-font" href="javascript:void(0);">Hello <span data-bind="text: playername"></span>!</a></li>
                	<li data-bind="ifnot: disconnected, click: toggleMusic"><a class="ghostbuster-font" href="javascript:void(0);">Music: <span data-bind="text: music"></span></a></li>
                	<li data-bind="ifnot: disconnected, click: toggleSounds"><a class="ghostbuster-font" href="javascript:void(0);">Sounds: <span data-bind="text: sounds"></span></a></li>
                    <li data-bind="ifnot: disconnected, click: disconnect"><a class="ghostbuster-font" href="javascript:void(0);">Disconnect</a></li>
                    <li data-bind="click: adminLogin"><a class="ghostbuster-font" href="javascript:void(0);">Control Center</a></li>
                </ul>
            </div>
        </nav>
		
		<div align="center" style="margin-bottom:20px;" data-bind="ifnot: gamestarted">
			<img src="/assets/images/Ghostbuster_banner.png" alt="" style="max-width: 100%; max-height: 128px;">
		</div>
		<audio id="ghostbusters-song" src="/assets/sounds/Ghostbusters_song.mp3" loop></audio>
		<audio id="ghostbusters-theme" src="/assets/sounds/Ghostbusters_theme.mp3" loop></audio>
		<audio id="gold-found" src="/assets/sounds/gold_found.mp3"></audio>
		<audio id="keys-found" src="/assets/sounds/keys_found.mp3"></audio>
		<audio id="treasure-locked" src="/assets/sounds/treasure_locked.mp3"></audio>
		<audio id="treasure-opening" src="/assets/sounds/treasure_opening.mp3"></audio>
		<audio id="trap-activated" src="/assets/sounds/trap_activated.mp3"></audio>
		<audio id="ghost-attack" src="/assets/sounds/ghost_attack.mp3"></audio>
		<audio id="player-attack" src="/assets/sounds/player_attack.mp3"></audio>
		
        <div data-bind="visible: disconnected() && !admin()" align="center">
        	<div class="bordered" style="max-width: 200px;">
	            <form role="form" data-bind="submit: submitPlayerName">
	                <div class="form-group">
	                    <input type="text" class="form-control" data-bind="value: playername" placeholder="Name"/>
	                    <button class="btn ghostbuster-font font-big" type="submit">Login</button>
	                </div>
	            </form>
            </div>
        </div>
        
        <div data-bind="visible: disconnected() && admin()" align="center">
        	<div class="bordered" style="max-width: 200px;">
	            <form role="form" data-bind="submit: submitAdminData">
	                <div class="form-group">
	                    <input type="text" class="form-control" data-bind="value: adminName" placeholder="Name"/>
	                    <br>
	                    <input type="text" class="form-control" data-bind="value: adminPwd" placeholder="Password"/>
	                    <button class="btn ghostbuster-font font-big" type="submit">Login</button>
	                </div>
	            </form>
            </div>
        </div>

        <div data-bind="visible: connecting" align="center">
            <span data-bind="text: connecting" class="ghostbuster-font font-big">Connecting...</span>
        </div>
        
        <div data-bind="visible: connected" align="center">
        	<div data-bind="visible: (!gameready() && !gamestarted() && !gamepaused() && !gameended())" align="center" >
	        	<div class="ghostbuster-font" align="center">
	        	It's a gloomy day in the Big Apple, the ghosts have taken possession of the city and they robbed all the gold reserves. 
	        	<br>
	        	Your job is to challenge them, and recover all the stolen gold!
	        	<br><br>
	        	Be careful, other Ghostbusters have joined the mission, do not let that these pusillanimous take the spotlight from you.
	        	<br><br> 
	        	Lead your team to overwhelm all the ghosts, leaving them without a penny!</div>
	        	<h2 class="ghostbuster-font">Can you be the hero the city needs?</h2>
	        	<div align="center" class="font-small ghostbuster-font">certainly you are not the one it deserves</div>
	        	<div align="center" class="font-small ghostbuster-font">(not in a positive way)</div>
	        	<br>
	        	<div class="bordered" style="max-width: 500px;">
	        		<div class="container">
	        			<form>
	        				<fieldset>
	        					<span class="ghostbuster-font">Number of Ghostbusters:</span> <input type="number" min="2" max="8" step="2" data-bind="value: gamemaxplayers"> 
	        					<button class="btn ghostbuster-font font-big" data-bind="click: newGame">Start new Mission</button>
	        				</fieldset>
	        			</form>
	        		</div>
	        		<hr>
	        		<div class="container" data-bind="visible: gamesavailable">
	        			<p class="ghostbuster-font font-big">Available Missions</p>
	        			<ul data-bind="foreach: gameslist">
						    <li>
						        <span class="ghostbuster-font" data-bind="text: name"></span> 
						        <button class="btn ghostbuster-font" data-bind="click: function () { $root.joinGame($data);}">Join this game!</button>
						    </li>
						</ul>
	        		</div>
	        		<div class="container" data-bind="ifnot: gamesavailable">
	        			<p class="ghostbuster-font font-big"><i>there are no missions available</i></p>
	        		</div>
	        	</div>
        	</div>
        	<div data-bind="visible: gameready" align="center">
        		<div data-bind="visible: (playername() != gamecreator())">
        			<h1 class="ghostbuster-font font-big">Mission created by <span data-bind="text: gamecreator"></span> at <span data-bind="text: gametime"></span></h1>
        		</div>
	        	<div data-bind="visible: (playername() == gamecreator())">
        			<h1 class="ghostbuster-font font-big">You created this mission at <span data-bind="text: gametime"></span></h1>
        		</div>
	        	<p class="ghostbuster-font">[mission with <span data-bind="text: gamemaxplayers"></span> ghostbusters]</p>
	        	<p class="ghostbuster-font font-medium">waiting for <span data-bind="text: gameplayersmissing"></span> more ghostbuster<span data-bind="visible: gameplayersmissing != 1">s</span>...</p>
	        	<hr>
	        	<h1 class="ghostbuster-font font-medium">Ghostbusters:</h1>
	        	<div class="row">
	        		<div class="col-sm-6">
	        			<div class="ghostbuster-font font-big" align="center" style="color: red !important;">Team RED</div>
		        		<div data-bind="foreach: game_team_RED">
						    <div class="row" style="margin-bottom: 10px;">
						    	<span class="col-xs-6" align="right">
						    		<img width="48px" height="48px" alt="Buster Icon" data-bind="attr:{src: '/assets/images/G' + $data.index + '.png'}"/>
						    	</span>
					    		<span class="col-xs-6 ghostbuster-font font-big line-with-icon" align="left"> 
						    	  	<span>
						    			<span data-bind="text: name"></span>
						    			<span class="ghostbuster-font font-small" align="left" data-bind="visible: uid == $parent.playeruid()"> (you)</span>
						    	  	</span>				    	  	
						    	</span>
							    
						    </div>
						</div>
					</div>
					<div class="col-sm-6">
						<div class="ghostbuster-font font-big" align="center" style="color: blue !important;">Team BLUE</div>
		        		<div data-bind="foreach: game_team_BLUE">
						    <div class="row" style="margin-bottom: 10px;">
						    	<span class="col-xs-6" align="right">
						    		<img width="48px" height="48px" alt="Buster Icon" data-bind="attr:{src: '/assets/images/G' + $data.index + '.png'}"/>
						    	</span>
					    		<span class="col-xs-6 ghostbuster-font font-big line-with-icon" align="left"> 
						    	  	<span>
						    			<span data-bind="text: name"></span>
						    			<span class="ghostbuster-font font-small" align="left" data-bind="visible: uid == $parent.playeruid()"> (you)</span>
						    	  	</span>					    	  	
						    	</span>
							    	
						    </div>
						</div>
					</div>
				</div>
				<hr>
				<button class="btn ghostbuster-font" data-bind="click: leaveGame">Leave Mission</button>
	        </div>
	        <div data-bind="visible: gamestarted" align="center">
	        	<h1 class="ghostbuster-font font-big"> 
	        		mission created by <span data-bind="text: gamecreator"></span> at <span data-bind="text: gametime"></span>
	        	</h1>
	        	<div align="center">
	        		<div id="message-alert" 
	        				class="ghostbuster-font text-white round-corner font-medium" align="center" style="display: none;">
		        		
		        	</div>
		        	<div align="right">
		        		<a href="javascript: void(0);" class="ghostbuster-font font-small" data-bind="click: toggleDebug">debug mode:  <span data-bind="text: debug"></span></a>
		        	</div>
	        		<div id="gameArenaContainer">	
		        	</div>
		        	<div class="ghostbuster-font" align="center" style="margin: 5px;">
		        		<span class="gold-owned font-big">
		        			gold owned: <b><span data-bind="text: playergold"></span></b> $
		        		</span>
		        		<span class="keys-owned font-big">
		        			keys found: <b><span data-bind="text: playerkeys"></span></b>
		        		</span>
		        	</div>
		        	<hr>
		        	<div class="font-medium">
		        		<span class="key">←</span>
		        		<span class="key">↑</span>
		        		<span class="key">↓</span>
		        		<span class="key">→</span>
		        		&nbsp;
		        		<span class="ghostbuster-font">: movements</span>
		        		&nbsp;-&nbsp;
		        		<span class="key">A</span>
		        		&nbsp;
		        		<span class="ghostbuster-font">: set trap ($ 100)</span>
		        		&nbsp;-&nbsp;
		        		<span class="key">S</span>
		        		&nbsp;
		        		<span class="ghostbuster-font">: open treasure</span>
		        		&nbsp;-&nbsp;
		        		<span class="key">D</span>
		        		&nbsp;
		        		<span class="ghostbuster-font">: hit player</span>
		        	</div>
		        	<hr>
	        		<div class="row">
		        		<div class="col-sm-6">
		        			<div class="ghostbuster-font font-big" align="center" style="color: red !important;">Team RED</div>
			        		<div data-bind="foreach: game_team_RED">
							    <div class="row" style="margin-bottom: 10px;">
							    	<span class="col-xs-6" align="right">
							    		<img width="48px" height="48px" alt="Buster Icon" data-bind="attr:{src: '/assets/images/G' + $data.index + '.png'}"/>
							    	</span>
						    		<span class="col-xs-6 ghostbuster-font font-big line-with-icon" align="left"> 
							    	  	<span>
							    			<span data-bind="text: name"></span>
							    			<span class="ghostbuster-font font-small" align="left" data-bind="visible: uid == $parent.playeruid()"> (you)</span>
							    	  	</span>				    	  	
							    	</span>
								    	
							    </div>
							</div>
						</div>
						<div class="col-sm-6">
							<div class="ghostbuster-font font-big" align="center" style="color: blue !important;">Team BLUE</div>
			        		<div data-bind="foreach: game_team_BLUE">
							    <div class="row" style="margin-bottom: 10px;">
							    	<span class="col-xs-6" align="right">
							    		<img width="48px" height="48px" alt="Buster Icon" data-bind="attr:{src: '/assets/images/G' + $data.index + '.png'}"/>
							    	</span>
						    		<span class="col-xs-6 ghostbuster-font font-big line-with-icon" align="left"> 
							    	  	<span>
							    			<span data-bind="text: name"></span>
							    			<span class="ghostbuster-font font-small" align="left" data-bind="visible: uid == $parent.playeruid()"> (you)</span>
							    	  	</span>					    	  	
							    	</span>
								    	
							    </div>
							</div>
						</div>
					</div>
					<hr>
					<button class="btn ghostbuster-font" data-bind="click: leaveGame">Leave Mission</button>
				</div>
				
	        </div>
	        <div data-bind="visible: gamepaused" align="center">
	        	<h1 class="ghostbuster-font font-huge">mission paused</h1>
	        	<div class="ghostbuster-font font-medium">get ready!</div>
	        </div>
	        <div data-bind="visible: gameended" align="center">
	        	<h1 class="ghostbuster-font font-huge">mission over</h1>
	        	<h2 id="game-result-won" class="text-green font-huge ghostbuster-font" style="display:none;"> - Your team won! - </h2>
	        	<h2 id="game-result-lost" class="text-red font-huge ghostbuster-font" style="display:none;">Looooooser!</h2>
	        	<h2 id="game-result-draw" class="text-grey font-huge ghostbuster-font" style="display:none;">Uhm...It ended in a draw...</h2>
	        	<h2 id="game-result-draw" class="text-grey font-huge ghostbuster-font" style="display:none;"> Some moron has left the mission...</h2>
	        	<hr>
	        	<h1 class="ghostbuster-font font-medium">Ghostbusters:</h1>
	        	<div class="row">
	        		<div class="col-sm-6">
	        			<div class="ghostbuster-font font-big" align="center" style="color: red !important;">Team RED</div>
		        		<div data-bind="foreach: game_team_RED">
						    <div class="row" style="margin-bottom: 10px;">
						    	<span class="col-xs-6" align="right">
						    		<img width="48px" height="48px" alt="PLAYER ' + $data.index + '" data-bind="attr:{src: '/assets/images/G' + $data.index + '.png'}"/>
						    	</span>
					    		<span class="col-xs-6 ghostbuster-font font-big line-with-icon" align="left"> 
						    	  	<span>
						    			<span data-bind="text: name"></span>
						    			<span class="ghostbuster-font font-small" align="left" data-bind="visible: uid == $parent.playeruid()"> (you)</span>
						    			<span class="gold-owned"><span data-bind="text: gold"></span>$</span>
						    	  	</span>				    	  	
						    	</span>
							    
						    </div>
						</div>
					</div>
					<div class="col-sm-6">
						<div class="ghostbuster-font font-big" align="center" style="color: blue !important;">Team BLUE</div>
		        		<div data-bind="foreach: game_team_BLUE">
						    <div class="row" style="margin-bottom: 10px;">
						    	<span class="col-xs-6" align="right">
						    		<img width="48px" height="48px" alt="PLAYER ' + $data.index + '" data-bind="attr:{src: '/assets/images/G' + $data.index + '.png'}"/>
						    	</span>
					    		<span class="col-xs-6 ghostbuster-font font-big line-with-icon" align="left"> 
						    	  	<span>
						    			<span data-bind="text: name"></span>
						    			<span class="ghostbuster-font font-small" align="left" data-bind="visible: uid == $parent.playeruid()"> (you)</span>
						    			<span class="gold-owned"><span data-bind="text: gold"></span>$</span> 
						    	  	</span>					    	  	
						    	</span>
							    	
						    </div>
						</div>
					</div>
				</div>
				<button class="btn ghostbuster-font" data-bind="click: playAgain">Go Back to Home Page</button>
	        </div>
    	</div>
    	<script type="text/javascript">
	    	window.onload = function() {
	    	    document.getElementById("ghostbusters-song").volume = 0.1;
	    	    document.getElementById("ghostbusters-theme").volume = 0.2;
	    	    document.getElementById("gold-found").volume = 0.5;
	    	    document.getElementById("keys-found").volume = 0.5;
	    	    document.getElementById("trap-activated").volume = 0.5;
	    	    document.getElementById("treasure-locked").volume = 0.5;
	    	    document.getElementById("treasure-opening").volume = 0.5;
	    	    document.getElementById("ghost-attack").volume = 0.5;
	    	    document.getElementById("player-attack").volume = 0.5;
	    	    
	    	    $(".page-loader div").fadeOut();
	            $(".page-loader").delay(200).fadeOut("slow");
	    	    
	    	}
    	</script>
}