@()(implicit req: RequestHeader)

@main {

    <div class="container">
        <nav class="navbar navbar-default" role="navigation">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <span class="navbar-brand fedora-font"><img src="/assets/images/favicon.png" alt="" width="64">Treasures Hunters</span>
            </div>
            <div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li data-bind="ifnot: disconnected, click: disconnect"><a class="fedora-font" href="#">Disconnect</a></li>
                </ul>
            </div>
        </nav>

		<div align="center" style="margin-bottom:20px;">
			<img src="/assets/images/ghost_left.png" alt="" width="64">
			<img src="/assets/images/ghost_left.png" alt="" width="64">
			<img src="/assets/images/treasure.png" alt="" width="64">
			<img src="/assets/images/ghost_right.png" alt="" width="64">
			<img src="/assets/images/ghost_right.png" alt="" width="64">
		</div>
		
		<audio src="/assets/images/Indy.mp3" preload="auto" autoplay="autoplay"></audio>
		
        <div data-bind="if: disconnected" align="center">
        	<div class="bordered" style="max-width: 200px;">
	            <form role="form" data-bind="submit: submitUsername">
	                <div class="form-group">
	                    <input type="text" class="form-control" data-bind="value: username" placeholder="Username"/>
	                    <button class="btn fedora-font font-big" type="submit">Join</button>
	                </div>
	            </form>
            </div>
        </div>

        <div data-bind="if: connecting">
            <span data-bind="text: connecting" class="font-big">Connecting...</span>
        </div>
        
        <div data-bind="if: connected" align="center">
        	<div data-bind="ifnot: game" align="center" class="bordered" style="max-width: 500px;">
        		<div class="container">
        			<form data-bind="submit: newGame">
        				<fieldset>
        					<legend><span class="fedora-font font-big">New Game</span></legend>
        					Name: <input type="text" data-bind="value: gamename"/> 
        					Players: <input type="number" name="quantity" min="1" max="4"> 
        					<button class="btn fedora-font font-big" type="submit">Create</button>
        				</fieldset>
        			</form>
        		</div>
        		<br>
        		<div class="container">
        			<p class="fedora-font font-big">Available Games</p>
        			<ul data-bind="foreach: gameslist">
					    <li>
					        <span class="fedora-font font-big" data-bind="text: name"></span> 
					        <button class="btn fedora-font font-big" data-bind="click: joinGame.bind($data.id)">Join this game!</button>
					    </li>
					</ul>
        		</div>
        	<div data-bind="if: game" align="center">
        		<h1 class="fedora-font font-big" data-bind="text: gamename"></h1>
        		<canvas id="gameArena" width="500" height="500"></canvas>
        	</div>
        </div>
    </div>
}
