@()(implicit req: RequestHeader)

@main {

    <div class="container">
        <nav class="navbar navbar-default" role="navigation">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <span class="navbar-brand ghostbuster-font text-black"><img src="/assets/images/favicon.png" alt="" width="64">Gh<span class="text-red">O</span>sts in the City</span>
            </div>
            <div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul class="nav navbar-nav navbar-right">
                	<li data-bind="ifnot: disconnected"><a class="ghostbuster-font" href="javascript:void(0);">Hello <span data-bind="text: username"></span>!</a></li>
                    <li data-bind="ifnot: disconnected, click: disconnect"><a class="ghostbuster-font" href="javascript:void(0);">Disconnect</a></li>
                </ul>
            </div>
        </nav>
		<!-- 
		<div align="center" style="margin-bottom:20px;">
			<img src="/assets/images/ghost_left.png" alt="" width="64">
			<img src="/assets/images/ghost_left.png" alt="" width="64">
			<img src="/assets/images/treasure.png" alt="" width="64">
			<img src="/assets/images/ghost_right.png" alt="" width="64">
			<img src="/assets/images/ghost_right.png" alt="" width="64">
		</div>
		 -->
		<div align="center" style="margin-bottom:20px;" data-bind="ifnot: gamestarted">
			<img src="/assets/images/Ghostbuster_banner.png" alt="" style="max-width: 100%; max-height: 128px;">
		</div>
		<audio src="/assets/images/Ghostbusters.mp3" preload="auto" autoplay="autoplay"></audio>
		
        <div data-bind="visible: disconnected" align="center">
        	<div class="bordered" style="max-width: 200px;">
	            <form role="form" data-bind="submit: submitUsername">
	                <div class="form-group">
	                    <input type="text" class="form-control" data-bind="value: username" placeholder="Username"/>
	                    <button class="btn ghostbuster-font font-big" type="submit">Enter</button>
	                </div>
	            </form>
            </div>
        </div>

        <div data-bind="visible: connecting" align="center">
            <span data-bind="text: connecting" class="ghostbuster-font font-big">Connecting...</span>
        </div>
        
        <div data-bind="visible: connected" align="center">
        	<div data-bind="visible: (!gameready() && !gamestarted() && !gamepaused() && !gameended())" align="center" >
	        	<div class="bordered" style="max-width: 500px;">
	        		<div class="container">
	        			<form>
	        				<fieldset>
	        					<legend><span class="ghostbuster-font font-big">Create New Game</span></legend>
	        					<span class="ghostbuster-font">Game Name:</span> <input type="text" data-bind="value: gamename"/> 
	        					<span class="ghostbuster-font">Players:</span> <input type="number" min="2" max="8" step="2" data-bind="value: gamemaxplayers"> 
	        					<button class="btn ghostbuster-font font-big" data-bind="click: newGame">Create New Game</button>
	        				</fieldset>
	        			</form>
	        		</div>
	        		<hr>
	        		<div class="container" data-bind="visible: gamesavailable">
	        			<p class="ghostbuster-font font-big">Available Games</p>
	        			<ul data-bind="foreach: gameslist">
						    <li>
						        <span class="ghostbuster-font" data-bind="text: name"></span> 
						        <button class="btn ghostbuster-font" data-bind="click: function () { $root.joinGame($data);}">Join this game!</button>
						    </li>
						</ul>
	        		</div>
	        		<div class="container" data-bind="ifnot: gamesavailable">
	        			<p class="ghostbuster-font font-big"><i>there are no games available</i></p>
	        		</div>
	        	</div>
        	</div>
        	<div data-bind="visible: gameready" align="center">
	        	<h1 class="ghostbuster-font font-big">You have joined the game "<span data-bind="text: gamename"></span>"</h1>
	        	<p class="ghostbuster-font">[game with <span data-bind="text: gamemaxplayers"></span> players]</p>
	        	<p class="ghostbuster-font font-medium">waiting for <span data-bind="text: gameplayersmissing"></span> more player<span data-bind="visible: gameplayersmissing != 1">s</span>...</p>
	        	<hr>
	        	<h1 class="ghostbuster-font font-medium">Players:</h1>
	        	<div class="row">
	        		<div class="col-sm-6">
	        			<div class="ghostbuster-font font-big" align="center" style="color: red !important;">Team RED</div>
		        		<div data-bind="foreach: game_team_RED">
						    <div class="row" style="margin-bottom: 10px;">
						    	<span class="col-xs-6" align="right">
						    		<img width="48px" height="48px" alt="Buster Icon" data-bind="attr:{src: '/assets/images/G' + $data.index + '.png'}"/>
						    	</span>
					    		<span class="col-xs-6 ghostbuster-font font-big line-with-icon" align="left"> 
						    	  	<span>
						    			<span data-bind="text: name"></span>
						    			<span class="ghostbuster-font font-small" align="left" data-bind="visible: uid == $parent.useruid()"> (you)</span>
						    	  	</span>				    	  	
						    	</span>
							    	
						    </div>
						</div>
					</div>
					<div class="col-sm-6">
						<div class="ghostbuster-font font-big" align="center" style="color: blue !important;">Team BLUE</div>
		        		<div data-bind="foreach: game_team_BLUE">
						    <div class="row" style="margin-bottom: 10px;">
						    	<span class="col-xs-6" align="right">
						    		<img width="48px" height="48px" alt="Buster Icon" data-bind="attr:{src: '/assets/images/G' + $data.index + '.png'}"/>
						    	</span>
					    		<span class="col-xs-6 ghostbuster-font font-big line-with-icon" align="left"> 
						    	  	<span>
						    			<span data-bind="text: name"></span>
						    			<span class="ghostbuster-font font-small" align="left" data-bind="visible: uid == $parent.useruid()"> (you)</span>
						    	  	</span>					    	  	
						    	</span>
							    	
						    </div>
						</div>
					</div>
				</div>
				<hr>
				<button class="btn ghostbuster-font" data-bind="click: leaveGame">Leave Game</button>
	        </div>
	        <div data-bind="visible: gamestarted" align="center">
	        	<h1 class="ghostbuster-font font-big" data-bind="text: gamename"></h1>
	        	<div align="center">
	        		<div>
		        		<canvas id="gameArena" width="0" height="0"></canvas>	
		        	</div>
	        		<div class="row">
		        		<div class="col-sm-6">
		        			<div class="ghostbuster-font font-big" align="center" style="color: red !important;">Team RED</div>
			        		<div data-bind="foreach: game_team_RED">
							    <div class="row" style="margin-bottom: 10px;">
							    	<span class="col-xs-6" align="right">
							    		<img width="48px" height="48px" alt="Buster Icon" data-bind="attr:{src: '/assets/images/G' + $data.index + '.png'}"/>
							    	</span>
						    		<span class="col-xs-6 ghostbuster-font font-big line-with-icon" align="left"> 
							    	  	<span>
							    			<span data-bind="text: name"></span>
							    			<span class="ghostbuster-font font-small" align="left" data-bind="visible: uid == $parent.useruid()"> (you)</span>
							    	  	</span>				    	  	
							    	</span>
								    	
							    </div>
							</div>
						</div>
						<div class="col-sm-6">
							<div class="ghostbuster-font font-big" align="center" style="color: blue !important;">Team BLUE</div>
			        		<div data-bind="foreach: game_team_BLUE">
							    <div class="row" style="margin-bottom: 10px;">
							    	<span class="col-xs-6" align="right">
							    		<img width="48px" height="48px" alt="Buster Icon" data-bind="attr:{src: '/assets/images/G' + $data.index + '.png'}"/>
							    	</span>
						    		<span class="col-xs-6 ghostbuster-font font-big line-with-icon" align="left"> 
							    	  	<span>
							    			<span data-bind="text: name"></span>
							    			<span class="ghostbuster-font font-small" align="left" data-bind="visible: uid == $parent.useruid()"> (you)</span>
							    	  	</span>					    	  	
							    	</span>
								    	
							    </div>
							</div>
						</div>
					</div>
					<hr>
					<button class="btn ghostbuster-font" data-bind="click: leaveGame">Leave Game</button>
				</div>
				
	        </div>
	        <div data-bind="visible: gamepaused" align="center">
	        	<h1 class="ghostbuster-font font-huge">GAME PAUSED</h1>
	        	<div class="ghostbuster-font font-medium">get ready!</div>
	        </div>
	        <div data-bind="visible: gameended" align="center">
	        	<h1 class="ghostbuster-font font-huge">GAME OVER</h1>
	        	<button class="btn ghostbuster-font" data-bind="click: playAgain">Play Again</button>
	        </div>
    	</div>
}